<div class="header_wrap">
	<header class="header">
		<div class="logo">
			<h1><a href="index.html">Dewelry</a></h1>
		</div>
		
		<nav class="main_nav">
			<ul class="main_nav_ul">
				<li class="item_story <%= @on_story %>">
					<a href="story.html" data-category="story"><img src="./images/icon_story.png" class="item_icon">STORY</a>
					<img src="./images/d_line.png" class="d_line">
					<img src="./images/sub_nav_arrow.png" class="hinter">
				</li>
				
				<li class="item_news <%= @on_news %>">
					<a href="news.html" data-category="news"><img src="./images/icon_news.png" class="item_icon">NEWS</a>
					<img src="./images/d_line.png" class="d_line">
					<img src="./images/sub_nav_arrow.png" class="hinter">
				</li>
				
				<li class="item_wedding <%= @on_wedding_list %>">
					<a href="wedding_list.html" data-category="wedding"><img src="./images/icon_wedding.png" class="item_icon">WEDDING</a>
					<img src="./images/d_line.png" class="d_line">
					<img src="./images/sub_nav_arrow.png" class="hinter">
				</li>
				
				<li class="item_jewelry <%= @on_jewelry_list %>">
					<a href="jewelry_list.html" data-category="jewelry"><img src="./images/icon_jewelry.png" class="item_icon">JEWELRY</a>
					<img src="./images/d_line.png" class="d_line">
					<img src="./images/sub_nav_arrow.png" class="hinter">
				</li>
				
				<li class="item_locations <%= @on_locations %>">
					<a href="locations.html" data-category="locations"><img src="./images/icon_locations.png" class="item_icon">LOCATIONS</a>
					<img src="./images/d_line.png" class="d_line">
					<img src="./images/sub_nav_arrow.png" class="hinter">
				</li>
				
				<li class="item_knowledge <%= @on_knowledge %>">
					<a href="knowledge_diamond.html" data-category="knowledge"><img src="./images/icon_knowledge.png" class="item_icon">KNOWLEDGE</a>
					<img src="./images/d_line.png" class="d_line">
					<img src="./images/sub_nav_arrow.png" class="hinter">
				</li>
				
				<li class="item_contact <%= @on_contact %>">
					<a href="contact.html" data-category="contact"><img src="./images/icon_contact.png" class="item_icon">CONTACT</a>
					<img src="./images/sub_nav_arrow.png" class="hinter">
				</li>
			</ul>
		</nav>
		
		<div class="page_breadcrumb">
			<%= yield :breadcrumb_content %>
		</div>
	</header><!-- end class header -->

	<!-- 次選單 -->
	<nav class="sub_nav">
		<div class="bg_color">
			<!-- wedding次選單 -->
			<ul class="sub_nav_wedding_ul" data-category="wedding">
				<li class="first"><a href="#"><img src="./images/subnav/wedding/women_rings.png">WOMEN'S RINGS</a></li>
				<li><a href="#"><img src="./images/subnav/wedding/wedding_rings.png">WEDDING RINGS</a></li>
				<li><a href="#"><img src="./images/subnav/wedding/platinum_rings.png">PLATINUM RINGS</a></li>
				<li><a href="#"><img src="./images/subnav/wedding/men_rings.png">MEN'S RINGS</a></li>
			</ul>
			<!-- jewelry次選單 -->
			<ul class="sub_nav_jewelry_ul" data-category="jewelry">
				<li class="first"><a href="#"><img src="./images/subnav/jewelry/diamond_ring.png">DIAMOND RINGS</a></li>
				<li><a href="#"><img src="./images/subnav/jewelry/diamond_necklace.png">DIAMOND NECKLACE</a></li>
				<li><a href="#"><img src="./images/subnav/jewelry/diamond_earrings.png">DIAMOND EARRINGS</a></li>
				<li><a href="#"><img src="./images/subnav/jewelry/colored_stones.png">COLORED STONES</a></li>
				<li><a href="#"><img src="./images/subnav/jewelry/natural_pearls.png">NATURAL PEARLS</a></li>
			</ul>
			
		</div>
	</nav><!-- end class sub_nav -->
	
	
</div>